html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

.content-wrapper { 
    flex: 1; 
}
header {
    background: #1e1e1e;
    color: white;
    padding: 20px 0;
}

header .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.actions a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.link-cadastro {
    background: dodgerblue;
}

.secao-carreiras {
    padding: 80px 0;
    background-color: #f7f7f7f7;
}

.container-carreiras {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.container-carreiras h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 5px;
}

.container-carreiras p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 40px;
}

.vagas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: left;
    padding: 20px;
}

.card-vaga {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    border-top: 5px solid dodgerblue;
    border: 1px solid #ddd;;
}

.card-vaga:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.01);
}

.titulo-vaga {
    font-size: 1.2rem;
    font-weight: 700;
    color:#1e1e1e;
    margin-top: 10px;
    margin-bottom: 5px;
}

.empresa {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 15px;
    font-weight: 500;
}

.tags-vaga {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.tag {
    font-size: 0.8rem;
    padding: 4px 8px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.local {
    background-color: darkblue;
}

.modalidade {
    background-color: #111111;
}

.btn-detalhes {
    display: block;
    padding: 10px;
    text-align: center;
    background: dodgerblue;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.btn-detalhes:hover {
    background: #003f5c;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background: #1e1e1e;
    color: white;
    padding: 30px 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

footer li{
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.icone {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
