html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

.content-wrapper { 
    flex: 1; 
}
header {
    background: #1e1e1e;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 80px;
    position: relative;
}

.logo-principal {
    position: absolute;
    left: -100px;
    top:50%;
    transform: translateY(-50px);
    z-index: 10;
    width: 80px;
    height: auto;
}

.logo-principal-img {
    height: 100%;
    width: 150%;
    object-fit: contain;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size:2rem;
    margin: 0;
}

.logo-img {
    height: 50px; 
    width: auto;
}

.main-nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.actions a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.link-cadastro {
    background: dodgerblue;
}

.secao-faq .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.faq-titulo {
    font-size: 2.5rem;
    font-weight: 700;
    color:#1e1e1e;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.faq-lista {
    border-top: 1px solid #ddd;
}

.faq-item {
    padding: 30px 0;
    border-bottom: 1px solid #eee;
}

.faq-pergunta {
    font-size: 1.25rem;
    font-weight: 700;
    color: dodgerblue;
    margin-top: 0;
    margin-bottom: 10px;
}

faq.resposta {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background: #1e1e1e;
    color: white;
    padding: 30px 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

footer li{
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.icone {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}