/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fonte, cor do fundo, cor do texto e espaçamento entre linhas do site */
body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #222;
    line-height: 1.5;
}

/* Centraliza e limita a largura */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}