html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

.content-wrapper { 
    flex: 1; 
}
header {
    background: #1e1e1e;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 80px;
    position: relative;
}

.logo-principal {
    position: absolute;
    left: -100px;
    top:50%;
    transform: translateY(-50px);
    z-index: 10;
    width: 80px;
    height: auto;
}

.logo-principal-img {
    height: 100%;
    width: 150%;
    object-fit: contain;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size:2rem;
    margin: 0;
}

.logo-img {
    height: 50px; 
    width: auto;
}

.main-nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.actions a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.link-cadastro {
    background: dodgerblue;
}

.secao-membros {
    padding: 50px 0;
}

.secao-membros h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 60px;
    color: #1e1e1e;
}

.card-membro {
    max-width: 850px;
    margin: 40px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.card-membro.reverse {
    flex-direction: row-reverse;    
}

.membro-foto {
    flex: 0 0 35%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
}

.membro-foto img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    object-fit: cover;
}

.barra-colorida-membro {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 80%;
    height: 20px;
    background: linear-gradient(to right, #1e1e1e00, rgb(30, 143, 255));
    z-index: 10;
}

.membro-info {
    flex: 1;
}

.membro-info h2 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 5px;
    color: #1e1e1e;
}

.membro-info h3 {
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    color: dodgerblue;
}

.membro-info p {
    line-height: 1.6;
    margin-bottom: 25px;
    color: #555;
}

.link-social {
    display: inline-block;
    padding: 8px 15px;
    background: #1e1e1e;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.link-social:hover {
    background: dodgerblue;
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background: #1e1e1e;
    color: white;
    padding: 30px 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

footer li{
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.icone {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
