html, body {
    height: 100%;
    margin: 0; 
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

.content-wrapper { 
    flex: 1; 
}
header {
    background: #1e1e1e;
    color: white;
    padding: 30px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 80px;
    position: relative;
}

.logo-principal {
    position: absolute;
    left: -100px;
    top:50%;
    transform: translateY(-50px);
    z-index: 10;
    width: 80px;
    height: auto;
}

.logo-principal-img {
    height: 100%;
    width: 150%;
    object-fit: contain;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size:2rem;
    margin: 0;
}

.logo-img {
    height: 50px; 
    width: auto;
}
.main-nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.actions a {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 6px;
}

.link-cadastro {
    background: dodgerblue;
}


.secao-sobre .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    gap: 40px;
}

.conteudo-texto {
    flex: 1;
    max-width: 55%;
    padding-top: 20px;
}

.conteudo-texto h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.conteudo-texto h2 {
    font-size: 1.6em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 2em;
    color: #555;
}

.conteudo-img {
    flex: 1;
    max-width: 45%;
    position: relative;
}

.conteudo-img img {
    width: 100%;
    height: auto;
    display: block;
}

.barra-colorida {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 80%;
    height: 30px;
    background: linear-gradient(to right, dodgerblue, white);
}

footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer {
    background: #1e1e1e;
    color: white;
    padding: 30px 20px;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
}

footer li{
    margin: 0;
    padding: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

.icone {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
